body {
    background-color: #FFFFFF;
    font-family: 'TradeGothicW01-BoldCn20 675334', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#header {
    position: relative;
    width: 100%;
    background: #111111;
}
.banner img {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    max-height: 550px;
}
.banner .topleft img {
    position: absolute;
    top: 60px;
    left: 10%;
    right: -90%;
    transform: translate(-50%, -50%);
    max-width: 78px;
    max-height: 51px;
}
.banner .topright img {
    position: absolute;
    top: 60px;
    left: 90%;
    right: -10%;
    transform: translate(-50%, -50%);
    max-width: 78px;
    max-height: 51px;
}
.message-centered {
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 36px;
}
#content {
    position: relative;
    width: 100%;
}
#side-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
    margin: 20px 0 0 0;
    border-radius: 0 15px 15px 0;
    background: #BADA55;
}
.sbcategory {
    overflow: auto;
    min-width: 150px;
    margin: 0 10px 0 10px;
    border-radius: 30px 15px;
    background: #BADA55;
}
.sbcategory .sbtitle {
    text-align: left;
    color: #111111;
    font-size: 24px;
    margin: 15px 0 5px 15px;
}
.sbcategory .sbname {
    text-align: left;
    color: #999999;
    font-size: 14px;
    margin: 0 0 2px 35px;
}
#long-scroll {
    position: relative;
    /* padding: 0 0 0 160px;       /* if sidebar */
}
.category {
    overflow: hidden;
    margin: 0 0 0 0;
    padding: 0 2% 0 2%;
}
.category .title {
    text-align: center;
    color: #111111;
    font-size: 40px;
    font-weight: bold;
    margin: 70px 0 60px 0;
}
.category .title .count {
    color: #999999;
}
.category .wrapper {
    margin: auto;
    max-width: 1172px;
}

/*****  3 per row  *****/

.category .item {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 32%;
    min-height: 350px;
    text-align: left;
    margin: 15px 0 15px 2%;
    padding: 0 0 10px 0;
}
.category .item:nth-child(3n+1) {
    margin-left: 0;
}
.category .item img {
    width: 100%;
}
.category .item img:hover {
    opacity: 0.7;
}
.category .item .name {
    text-align: left;
    color: #111111;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.category .item .description {
    max-width: 375px;
    color: #888888;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 0 0 0;
}
.category .item .description .released {
    color: #111111;
    font-weight: bold;
}
.category .item .social {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 5px 0 0;
    padding: 0 0 10px 0;
}
.category .item .social img {
    float: right;
    max-width: 20px;
    max-height: 20px;
}
.category .item .subhline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #999999;
    margin: 5px 0 0 0;
}

/*****  2 per row  *****/

@media (max-width: 768px) {
    .category .item {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 49%;
        min-height: 350px;
        margin: 15px 0 15px 2%;
    }
    .category .item:nth-child(3n+1) {
        margin-left: 2%;
    }
    .category .item:nth-child(2n+1) {
        margin-left: 0;
    }
    .category .item img {
        width: 100%;
    }
    .category .item img:hover {
        opacity: 0.7;
    }
    .category .item .name {
        text-align: left;
        color: #111111;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0 30px 5px;
    }
    .category .item .description {
        max-width: 375px;
        color: #888888;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0 0 0 0;
    }
    .category .item .description .released {
        color: #111111;
        font-weight: bold;
    }
    .category .item .social {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 5px 0 0;
        padding: 0 0 10px 0;
    }
    .category .item .social img {
        float: right;
        max-width: 20px;
        max-height: 20px;
    }
    .category .item .subhline {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: #999999;
        margin: 5px 0 0 0;
    }
}
