$brand-primary: #8D8D8D !default;
$brand-success: #48BD1F !default;
$brand-danger: #FF0016 !default;
$brand-warning: #FF841F !default;
$brand-info: #3498DB !default;

@import "node_modules/bootstrap-material-design/scss/core"; // make sure to use _core.scss!
